h1{
	text-align: center;
}
p{
	text-align: center;
	font-size:20px;
	color: black;
}
nav{
	text-align: center;
	margin-top:20px;
	margin-bottom: 40px;
}
.nav_col{
	font-family: Arial;
	font-size: 25px;
	color: black; 
}
#scrol{
	font-family: "Arial";
	font-size: 25px;	
	color: blue;
}
#content{
	/*text-align: left;*/
	column-count: 3;
	column-gap: 0.5px;
	/*column-rule-style: solid;*/
	/*column-rule-width: 1px;*/
	column-rule: 1px solid lightblue;
}
#back{
	background-color: CadetBlue;
}
